@import './buttons';
@import './colors';
@import './sequence';
@import './controls';

* {
  font-family: 'Fira Sans', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  max-width: 640px;
  margin: auto;
}

p {
  line-height: 1.4em;
}
