@import './buttons';
@import './colors';
@import './sequence';
@import './controls';

* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

.container {
  max-width: 640px;
  margin: auto;
}
