$yellow: rgb(248, 212, 58);
$deepOcean: rgb(29, 178, 212);

svg {
  width: 100%;
  margin-bottom: 3em;
  rect {
    stroke: $deepOcean;
    fill: lighten($deepOcean, 10);

    &.active {
      opacity: 0.6;
    }

    &.on {
      fill: $yellow;
      stroke: darken($yellow, 10);
    }
  }
}



