@import './colors';

@mixin stroke-fill($color) {
  stroke: $color;
  fill: lighten($color, 10);
}

%sequencer-rect {
  &.socket {
    fill: $pale;
    stroke: darken($pale, 10);
  }

  &.on {
    fill: $yellow !important;
    stroke: darken($yellow, 10) !important;
  }
}

.active {
  opacity: 0.6;
}

.mute .active {
  opacity: 1;
}

.user-sequencer svg {
  width: 100%;
  rect {
    @include stroke-fill($deepOcean);
    @extend %sequencer-rect;
  }
}

.socket-sequencers svg:nth-child(2n + 1) {
  rect {
    @include stroke-fill($ocean);
    @extend %sequencer-rect;
  }
}

.socket-sequencers svg:nth-child(3n + 1) {
  rect {
    @include stroke-fill($orange);
    @extend %sequencer-rect;
  }
}

.socket-sequencers svg {
  rect {
    @include stroke-fill($leafGreen);
    @extend %sequencer-rect;
  }
}
